<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyesun.tenone.mapper.AdminMapper">
 
<!-- 상품 등록 -->
<insert id="write">
	insert into tb_goods (sellerId, goodsName, goodsPrice, goodsStock, goodsOtp, goodsDeli, goodsContents, cateCode, goodsStatu, goodsImg)
		values (#{sellerId}, #{goodsName}, #{goodsPrice}, #{goodsStock}, #{goodsOtp}, #{goodsDeli}, #{goodsContents}, #{cateCode}, #{goodsStatu}, #{goodsImg});  
</insert>

<!-- 상품 목록 -->
<select id="goodslist" resultType="Goods">
	select goodsId, goodsName, cateCode, goodsPrice, goodsStock, goodsDeli, goodsOtp, goodsImg, goodsContents, goodsStatu, regDate, sellerId
	from tb_goods
	where sellerId = #{sellerId}
		order by goodsId desc
</select>

<!-- 상품 조회 
<select id="goodsView" resultType="Goods">
	select 
</select>-->

</mapper>