<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyesun.tenone.mapper.AdminMapper">
 
	<!-- 게시물 목록(페이징) -->
	<select id="getListPaging" resultType="Goods" parameterType="hashMap">
	   select goodsId, goodsName, cateCode, goodsPrice, goodsStock, goodsDeli, goodsOtp, goodsImg, goodsContents, goodsStatu, regDate, sellerId, shop_name
	   from tb_goods
	   <where>
	      <choose>
	         <!-- searchType과 keyword가 모두 존재하는 경우 -->
	         <when test="searchType != null and keyword != null">
	            <if test="searchType.equals('goodsName')">
	               AND goodsName LIKE CONCAT('%', #{keyword}, '%')
	            </if>
	            <if test="searchType.equals('goodsStatu')">
	               AND goodsStatu LIKE CONCAT('%', #{keyword}, '%')
	            </if>
	         </when>
	         <!-- searchType과 keyword가 하나라도 null인 경우 -->
	         <otherwise>
	            <if test="sellerId != null">
	               AND sellerId = #{sellerId}
	            </if>
	         </otherwise>
	      </choose>
	   </where>
	   order by goodsId desc
	   	limit #{displayPost}, 10
	</select>
	
	<!-- 게시물 총 갯수 -->
	<select id="goodsCount" parameterType="hashMap" resultType="int">
		select count(goodsId) from tb_goods
		<where>
	      <choose>
	         <!-- searchType과 keyword가 모두 존재하는 경우 -->
	         <when test="searchType != null and keyword != null">
	            <if test="searchType.equals('goodsName')">
	               AND goodsName LIKE CONCAT('%', #{keyword}, '%')
	            </if>
	            <if test="searchType.equals('goodsStatu')">
	               AND goodsStatu LIKE CONCAT('%', #{keyword}, '%')
	            </if>
	         </when>
	         <!-- searchType과 keyword가 하나라도 null인 경우 -->
	         <otherwise>
	            <if test="sellerId != null">
	               AND sellerId = #{sellerId}
	            </if>
	         </otherwise>
	      </choose>
	   </where>
	</select>
	
	<!-- 판매자 정보 -->
	<select id="sellerInfo" resultType="Goods">
		select distinct(a.sellerId), b.shop_name
		from tb_goods as a
		left join user_info as b
		on a.sellerId = b.user_id
		where a.sellerId = #{sellerId}
	</select>
	 
	<!-- 상품 등록 -->
	<insert id="write">
		insert into tb_goods (sellerId, goodsName, goodsPrice, goodsStock, goodsOtp, goodsDeli, goodsContents, cateCode, goodsStatu, goodsImg, shop_name)
			values (#{sellerId}, #{goodsName}, #{goodsPrice}, #{goodsStock}, #{goodsOtp}, #{goodsDeli}, #{goodsContents}, #{cateCode}, #{goodsStatu}, #{goodsImg}, #{shop_name});  
	</insert>
	
	<!-- 상품 목록 -->
	<select id="goodslist" resultType="Goods">
		select goodsId, goodsName, cateCode, goodsPrice, goodsStock, goodsDeli, goodsOtp, goodsImg, goodsContents, goodsStatu, regDate, sellerId, shop_name
		from tb_goods
		where sellerId = #{sellerId}
			order by goodsId desc
	</select>
	
	<!-- 상품 수정 -->
	<update id="goodsUpdate">
		update tb_goods
		set 
			goodsName = #{goodsName}, 
			goodsPrice = #{goodsPrice}, 
			goodsStock = #{goodsStock}, 
			goodsOtp = #{goodsOtp}, 
			goodsDeli = #{goodsDeli}, 
			goodsContents = #{goodsContents}, 
			cateCode = #{cateCode}, 
			goodsStatu = #{goodsStatu}, 
			goodsImg = #{goodsImg}
		where goodsId = #{goodsId} and sellerId = #{sellerId}
		
	</update>
	
	<!-- 상품 조회 --> 
	<select id="goodsView" parameterType="map" resultType="Goods">
		select goodsId, goodsName, cateCode, goodsPrice, goodsStock, goodsDeli, goodsOtp, goodsImg, goodsContents, goodsStatu, regDate, sellerId, shop_name
		from tb_goods
		where goodsId = #{goodsId} and sellerId = #{sellerId}
	</select>
	
	<!-- 상품 삭제 -->
	<delete id="goodsDelete" parameterType="map">
	    DELETE FROM tb_goods
	    WHERE goodsId = #{goodsId} AND sellerId = #{sellerId}
	</delete>

</mapper>