<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyesun.tenone.mapper.GoodsMapper">
	
	<select id="selectCategory" resultType="Goods" parameterType="String">
		SELECT *
		FROM tb_goods
		WHERE cateCode = #{cateCode}
	</select>
	
	<!-- 상세조회 -->
	<select id="selectView" resultType="Goods" parameterType="Integer">
		SELECT *
		FROM tb_goods
		WHERE goodsId = #{goodsId}
	</select>
	
	<!-- 해당 상품 찜 여부 확인용 데이터 가져오기 -->
	<select id="getGoodsLikeVal" resultType="com.hyesun.tenone.domain.Like" parameterType="com.hyesun.tenone.domain.Like">
		SELECT *
		FROM tb_like
		WHERE lgoodsId = #{lgoodsId}
	</select>
	
	<!-- 상품 상세 페이지 찜하기 -->
	<insert id="setGoodsLike">
		INSERT INTO tb_like(lgoodsId, luserId)
		VALUES(#{lgoodsId}, #{luserId})
	</insert>
	
	<!-- 상품 상세페이지 찜취소 -->
	<delete id="goodsLikeCancel" parameterType="String">
		DELETE FROM tb_like
		WEHRE likeId = #{likeId}
	</delete>
	
	<!-- 찜 목록 데이터 가져오기 -->
	<select id="getLikeList" resultType="Goods" parameterType="String">
		SELECT *
		FROM tb_like a
		LEFT JOIN tb_goods b
		ON a.lgoodsId = b.goodsId
		WHERE luserId = #{luserId}
		ORDER BY likeId DESC
	</select>
	
	<!-- 찜 총 갯수 -->
	<select id="likeCount" resultType="int" parameterType="String">
		SELECT COUNT(likeId)
		FROM tb_like
		WHERE luserId = #{luserId}
	</select>
	 
</mapper>