* {
    box-sizing: border-box;
  }

  :root {
    /* ===== Colors ===== */
    --body-color: #E5E7EB;
    --sidebar-color: #FFF;
    --primary-color: #FF984E;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text-color2: #18191A;
    --text-color3: #9CA3AF;
    --table-color: #F3F4F6;

    /* ==== Transition ==== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

  html, body {
    max-width: 390px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  body {
    width: 390px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar {
  display: none;
  }

  ul {
    list-style: none;
  }

  /* 슬라이드 */
.slider {text-align: center;font-size: 0;max-width: 1180px;margin: 50px auto 0;}
.slider .inner {overflow: hidden;width: 100%;margin: 0 auto;}
.slide_list > li {position: relative;width: calc(25% - 20px);height: 150px; margin:0 10px;line-height: 150px;float: left;}

/* 영역별 밝기 설정 */
.slide_list > li.swiper-slide-active:after,
.slide_list > li.swiper-slide-next:after,
.slide_list > li.swiper-slide-prev:after,
.slide_list > li.swiper-slide-duplicate-active:after,
.slide_list > li.swiper-slide-duplicate-next:after,
.slide_list > li.swiper-slide-duplicate-prev:after {opacity: 0;}

/* 화살표 */
.slider .swiper-prev,
.slider .swiper-next {display: inline-block;width: 35px;height: 35px;margin:30px 15px 0;background:url('images/arrow.png') center center no-repeat;background-size: cover;text-indent: -999em;cursor: pointer;}
.slider .swiper-prev {transform: rotateY(180deg);}

@media (max-width: 768px) {
    .slide_list > li { width: calc(50% - 20px);}
    .slide_list > li.swiper-slide-next:after,
    .slide_list > li.swiper-slide-prev:after,
    .slide_list > li.swiper-slide-duplicate-next:after,
    .slide_list > li.swiper-slide-duplicate-prev:after {opacity: 1;}
}

.main_top {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 0;
}

.main_top .cartBtn {
    background-color: #fff;
    border: none;
    width: 50px;
    height: 40px;
    vertical-align: middle;
}

.main_top .color {
    background-color: var(--primary-color);
}

.icon {
    font-weight: 600;
    text-align: center;
    cursor:pointer;
}

.share_img {
    width: 100%;
    height: 90px;
    border-radius: 20px;
    cursor:pointer;
}

.share_txt {
    font-size: 15px;
    font-weight: 500;
}

.category {
    display: flex;
    padding: 10px 15px 10px 35px;
    font-size: 14px;
}

.category .cate_img {
    width: 60px;
    height: 60px;
    border-radius: 21px;
    margin-right: 20px;
    cursor:pointer;
}

.category .cate_txt {
    width: 80px;
    margin-right: 20px;
}

.category a {
	text-decoration-line: none;
	color: black;
}

.category a:hover {
	color: black;
}

.present_title {
    background: aqua;
}

.shareMain {
    height: 100px;
}

.txt {
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: 600;
}

.cateSlide {
    background: blue;
}

/* 쇼핑 목록 화면 */
.content_wrap {
    display: flex;
    flex-wrap: wrap;
}
.content_wrap .img {
    width: 170px;
    height: 170px;
    border-radius: 7px;
    margin-top: 10px;
    cursor: pointer;
}

.imgWrapper {
    position: relative;
}

.imgWrapper .posWrap {
    position: absolute;
    left: 145px;
    bottom: 8px;
    cursor: pointer;
}

.content_wrap a {
	text-decoration-line: none;
	color: black;
}

.content_wrap a:hover {
	color: black;
}

.content_wrap .img_me {
    margin-right: 15px;
}

.content_wrap .goodsSize {
    width: 170px;
    margin-bottom: 10px;
    cursor: pointer;
}

.content_wrap .shop_txt {
    font-size: 13px;
    color: #707070;
}

.content_wrap .price_txt {
    font-size: 15px;
    font-weight: 700;
}

.viewImg {
    width: 100%;
    height: 340px;
    cursor: pointer;
    transition: 0.3s;
}

.viewImg:hover {opacity: 0.8;}

.modal {
    display: none; /* 모달창 숨겨 놓기 */
    position: fixed; 
    z-index: 1; /* 모달창을 제일 앞에 두기 */
    padding-top: 100px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto; /* 스크롤 허용 auto */
    cursor: pointer; /* 마우스 손가락모양 */
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* 모달창 이미지 */
  .modal_content {
    margin: auto;
    display: block;
    width: 50%; height: auto;
    max-width: 1000px;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 0.8s;
  }
  /* 모달창 애니메이션 추가 */
  @keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  /* 닫기 버튼 꾸미기 */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.inner_wrap {
    padding: 15px;
}

.goodsTitle {
    padding: 15px;
}

.goodsTitle .goodsNameTxt {
    font-size: 25px;
    font-weight: 600;
}

.goodsTitle .goodsPriceTxt {
    font-size: 17px;
    font-weight: 500;
    color: #5b5a5a;
}

.goodsInner {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 15px;
}

.goodsInner .goodsInfoTxt {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
}

.section-divider {
    height: 1px;
    background-color: #EDEDED;
    margin: 20px 0;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #505050;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
}

.tab.active {
    border-bottom-color: #FF984E;
    font-weight: bold;
}

.tab-content {
    display: none;
    margin-top: 20px;
}

.tab-content.active {
    display: block;
}

.goodsFooter {
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #EDEDED;
}

.goodsFooter .heart {
    padding: 10px;
    height: 40px;
    width: 100%;
    margin-top: 3px;
    cursor: pointer;
}

.buyBtn_wrap {
    padding: 10px;
}

.buyBtn_wrap .buyBtn {
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #FF984E;
    color: #FFF;
}

.goodsFooter .wrap {
    height: 300px;
    background-color: #FFF;
    width: 370px;
    padding: 10px;
}

.chevronDownIcon {
    margin-left: 170px;
}

.goodsFooter .selectWrap {
    width: 100%;
    margin-top: 20px;
}

.goodsFooter .optionSelect {
    width: 100%;
}

.goodsFooter .add_btn {
    display: flex;
    position: fixed;
    bottom: 10px;
}

.goodsFooter .add_btn .cartBtn {
    width: 150px;
    height: 40px;
    border: 1px solid #FF984E;
    border-radius: 18px;
    background-color: #FFF;
    color: #FF984E;
    margin-left: 20px;
    cursor: pointer;
}

.goodsFooter .add_btn .buyGoBtn {
    margin-left: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 18px;
    background-color: #FF984E;
    color: #FFF;
    cursor: pointer;
}

.goodsFooter .plus_btn {
    width: 50px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    border-right: none !important;
    background-color: #FFF;
    color: #8e8e8e;
    font-size: 20px;
}

.goodsFooter .minus_btn {
    width: 50px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    border-left: none !important;
    background-color: #FFF;
    color: #8e8e8e;
    font-size: 20px;
}

.fontSizeWish {
    font-size: 14px;
}

.box_wrap {
    display: flex;
    width: 370px;
    height: 120px;
    border: 1px solid #cbcbcb;
    border-radius: 8px;
    padding: 10px;
}

.box_wrap .shop_txt {
    font-size: 13px;
    color: #707070;
}

.box_wrap .price_txt {
    font-size: 15px;
    font-weight: 700;
}

.box_content .img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.stock {
    line-height: 20px;
    text-align: center;
    margin-top: 5px;
}

.stock .stock_input {
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: 2px;
    color: #505050;
    border: 1px solid #505050;
    border-radius: 8px;
    font-size: 14px;
}

.stock .plus_btn {
    border: none;
    background-color: #fff;
    width: 30px;
    height: 20px;
    color: #505050;
}

.stock .minus_btn {
    border: none;
    background-color: #fff;
    width: 30px;
    height: 20px;
    color: #505050;
}

.stock .icon {
    vertical-align: middle;
    margin-left: 115px;
}